.app-container {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #f0f0f0;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar.hidden {
  display: none;
}

.toggle-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.main-content {
  flex: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.new-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.new-button:hover {
  background-color: #218838;
}

h1,
h2 {
  margin: 0;
  font-family: "Cursive", serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-family: "Cursive", serif;
}
