.page {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  top: 0;
  /* Make sure it stays at the very top */
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  /* Ensure it doesn't blend with the content */
  height: 60px;
  /* Adjust as needed */
}

.content {
  /* Same as .topbar height to prevent overlap */
  display: flex;
  padding: 1rem;
  background-color: #ffffff;
  flex: 1;
  width: 100%;
  border-style: solid;
  box-sizing: border-box;
  /* Includes padding and border in width calculation */
}
