.page {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  overflow-y: auto;
  /* This makes the whole page scrollable */
}

.topbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  /* Fixed position to stay at the top */
  top: 2%;
  /* Position at the top of the page */
  left: 0;
  /* Align to the left */
  width: 100%;
  /* Ensure the top bar spans the full width */
  z-index: 1000;
}

.content {
  flex-grow: 1;
  /* Allows content to expand within available space */
  border-style: solid;
  overflow: auto;
  background-color: #ffffff;
  /* Ensures it doesn't overflow */
  padding: 1rem;
}
